body {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

header {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
}

.spaceShip {
    margin: auto;
    margin-bottom: 15px;
    width: 70px;
    height: 40px;
    background: url(img/spritesheet.png) -319px -301px;
}

#invadersBody{
    display: flex;
    flex-direction: column;
}

.invadersRow{
    display: flex;
}

.containerCenter {
    height: 500px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: black;
}

.allContainers {
  height: 200px;
  width: 400px;
  position: relative;
  animation: containerMove 10s infinite;
  animation-direction: alternate;
}

@keyframes containerMove {
    0%   {left: 100px; top: 0px;}
    50% {left: 215px; top: 0px;}
    100% {left: 0px; top: 0px;}
  }

.character1 {
    width: 40px;
    height: 35px;
    background: url(img/spritesheet.png) -15px, -320px;
    animation: character1_animation 1s steps(2) infinite;
}

@keyframes character1_animation {
    from { background-position: 0,}
    to { background-position: -96px }
  }

.character2 {
    width: 40px;
    height: 35px;
    background: url(img/spritesheet.png) -115px, -318px;
    animation: character2_animation 1s steps(2) infinite;
}

@keyframes character2_animation {
    from { background-position: 0, }
    to { background-position: -200px  }
  }

.character3 {
    width: 40px;
    height: 35px;
    background: url(img/spritesheet.png) -217px -312px;
    animation: character3_animation 1s steps(2) infinite;;
}

@keyframes character3_animation {
    from { background-position: 0, }
    to { background-position: -300px  }
  }

.row_walls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 180px;
}

.hero_wals1 {
    width: 70px;
    height: 70px;
    margin-right: 50px;
    background: url(img/spritesheet.png) -460px, -256px;
}

.hero_wals2 {
    width: 70px;
    height: 70px;
    margin-right: 50px;
    background: url(img/spritesheet.png) -541px, -256px;
}

.hero_wals3 {
    width: 70px;
    height: 70px;
    margin-right: 50px;
    background: url(img/spritesheet.png) -617px, -256px;
}

.hero_wals4 {
    width: 70px;
    height: 70px;
    background: url(img/spritesheet.png) -693px, -256px;
}

.hero {
    margin: auto;
    margin-top: 50px;
    position: absolute;
    width: 40px;
    height: 35px;
    background: url(img/spritesheet.png) -405px, -311px;
}







